<% if @services.errors.any? %>
  <div id="error_explanation">
    Há erros no formulário, por favor verifique.
  </div>
<% end %>

<%= form_for(@service) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= error_tag @services, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
