<p id="notice"><%= notice %></p>

<h1>Listing Call Finishes</h1>

<table>
  <thead>
    <tr>
      <th>Id call</th>
      <th>Id user</th>
      <th>Observation</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @call_finishes.each do |call_finish| %>
      <tr>
        <td><%= call_finish.id_call %></td>
        <td><%= call_finish.id_user %></td>
        <td><%= call_finish.observation %></td>
        <td><%= call_finish.active %></td>
        <td><%= link_to 'Show', call_finish %></td>
        <td><%= link_to 'Edit', edit_call_finish_path(call_finish) %></td>
        <td><%= link_to 'Destroy', call_finish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call finish', new_call_finish_path %>
