<% if @component.errors.any? %>
  <div id="error_explanation">
    <%= t 'general.form_error'%>
  </div>
<% end %>

<%= form_for(@component) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= error_tag @component, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
