<% if @customer.errors.any? %>
  <div id="error_explanation">
    <%= t 'general.form_error'%>
  </div>
<% end %>

<%= form_for(@customer) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= error_tag @customer, :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
    <%= error_tag @customer, :address %>
  </div>
  <div class="field">
    <%= f.label :phone1 %><br>
    <%= f.number_field :phone1 %>
    <%= error_tag @customer, :phone1 %>
  </div>
  <div class="field">
    <%= f.label :phone2 %><br>
    <%= f.number_field :phone2 %>
    <%= error_tag @customer, :phone2 %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
    <%= error_tag @customer, :age %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.text_field :sex %>
    <%= error_tag @customer, :sex %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
