<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @customer.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @customer.phone2 %>
</p>

<p>
  <strong>Age:</strong>
  <%= @customer.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @customer.sex %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
