<% if @call_service.errors.any? %>
<div id="error_explanation">
  <%= t 'general.form_error'%>
</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <p class="panel-title">Todos os campos são obrigatórios</p>
  </div>
  <div class="panel-body">
    <%= form_for(@call_service) do |f| %>
      <div class="form-group">
        <%= f.hidden_field :user_id, :value => @call_service.user_id %>
        <%= error_tag @call_service, :user_id %>
      </div>
      <div class="form-group">
        <%= f.label :service_id, class: 'control-label' %>
        <%= f.select :service_id, Service.all.collect{|c| [c.name, c.id]}, prompt: 'Selecione', class: 'form-control' %>
        <%= error_tag @call_service, :service_id %>
      </div>
      <div class="form-group">
        <%= f.label :component_id, class: 'control-label' %>
        <%= f.select :component_id, Component.all.collect{|c| [c.name, c.id]}, prompt: 'Selecione', class: 'form-control' %>
        <%= error_tag @call_service, :component_id %>
      </div>
      <div class="form-group">
        <%= f.label :situation_id, class: 'control-label' %>
        <%= f.select :situation_id, Situation.all.collect{|c| [c.name, c.id]}, prompt: 'Selecione', class: 'form-control' %>
        <%= error_tag @call_service, :situation_id %>
      </div>
      <div class="form-group">
        <%= f.label :details, class: 'control-label' %>
        <%= f.text_area :details, class: 'form-control' %>
        <%= error_tag @call_service, :details %>
      </div>
      <div class="form-group">
        <%= f.submit :class => "btn btn-info" %>
        <%= link_to 'Back', call_services_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
