<p id="notice"><%= notice %></p>

<ol class="breadcrumb bc-3">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active"><b>Chamado em aberto</b></li>
</ol>

<h2><%= t '.title' %></h2>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id customer</th>
        <th>Id service</th>
        <th>Id component</th>
        <th>Details</th>
        <th>Ação</th>
      </tr>
    </thead>

    <tbody>
      <% @call_services.each do |call_service| %>
      <tr>
        <td><%= call_service.id_customer %></td>
        <td><%= call_service.id_service %></td>
        <td><%= call_service.id_component %></td>
        <td><%= call_service.details %></td>
        <td>
            <%= link_to 'Show', call_service %>
            <%= link_to 'Edit', edit_call_service_path(call_service) %>
            <%= link_to 'Destroy', call_service, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Call service', new_call_service_path, class: 'btn btn-info' %>
