<p id="notice"><%= notice %></p>

<p>
  <%= t '.id_customer', id_customer: @call_service.id_customer %>
</p>

<p>
  <%= t '.id_service', id_service: @call_service.id_service %>
</p>

<p>
  <%= t '.id_component', id_component: @call_service.id_component %>
</p>

<p>
  <%= t '.details', details: @call_service.details %>
</p>

<%= link_to 'Edit', edit_call_service_path(@call_service) %> |
<%= link_to 'Back', call_services_path %>
