<p id="notice"><%= notice %></p>

<p>
  <%= t '.user_id', user_id: @call_service.user.id %>
</p>

<p>
  <%= t '.service_id', service_id: @call_service.service_id %>
</p>

<p>
  <%= t '.component_id', component_id: @call_service.component_id %>
</p>

<p>
  <%= t '.situation_id', situation_id: @call_service.situation_id %>
</p>

<p>
  <%= t '.details', details: @call_service.details %>
</p>

<%= link_to 'Edit', edit_call_service_path(@call_service) %> |
<%= link_to 'Back', call_services_path %>
